@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
img {
    width: 100vw;
}
/* Estilizando as barras de rolagem para navegadores WebKit (como Chrome e Safari) */

/* Definindo a aparência das barras de rolagem */
::-webkit-scrollbar {
    /* Configurando a largura das barras de rolagem como zero pixels para torná-las invisíveis */
    width: 0px;
    
    /* Configurando a altura das barras de rolagem como zero pixels para torná-las invisíveis */
    height: 0px;
}

a{
    display: block;
    background-color: darkred;
    padding: 30px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: aliceblue;
}
a:hover {
    background-color: red;
}